<h1>{{title}}</h1>
<h2>Welcome to {{title}}, Charlotte</h2>
<p>{{char}}</p>


<p>Perhaps enter something - give it a try!</p>

<p>Click <a href="/results">HERE</a> to see your results!</p>

<form method="POST" action="/results">
  <p>Enter your name here: </p>
  <input type="text" name="name"/>
  <button type="submit">Submit</button>
</form>

<a></a>
